.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-height: 90px;
  margin-top: 25px;
  width: 100%;

  &__list {
    list-style: none;

    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    &__item {
      margin: auto 23px;

      font-size: 20px;
      font-weight: 300;
      color: var(--col-primary-dark-purple);

      &__link {
        &:hover {
          color: var(--col-primary-light-purple);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 10px;
    min-width: 280px;
  }
}

.logo {
  &__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
