.dashboard {
  &--container {
    border: 1px solid #000;
    height: 100vh;

    display: grid;
    grid-template-rows: 1.5fr 10fr;
    grid-template-columns: 0.5fr 6fr 2.5fr;
  }

  &__nav-bar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    padding: 10px 30px;
    border-bottom: 0.5px solid var(--col-border-light-grey);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {
      max-height: 50px;
    }

    &__logout {
      padding: 5px 10px;
    }

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      padding: 0 30px;

      flex: 1;

      &__avatar {
      }

      &__name {
        margin-left: 10px;
      }
    }
  }

  &__left-info {
    animation: 1s ease-out 0s 1 sildeUpFromDown;
    grid-column: 1 / 2;
    grid-row: 2/3;
    border-right: 0.5px solid var(--col-border-light-grey);

    .upcoming-classes {
      padding: 0 37px;
      margin-top: 20px;

      .time-table-image {
        height: 150px;
      }

      &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      &__list {
        list-style: none;

        &__item {
          margin-bottom: 24px;

          .class-code {
            font-size: 12px;
            color: var(--col-text-light-grey);
          }

          .class-name {
            font-size: 18px;
            font-weight: 700;
            color: var(--col-text-dark-grey);
          }

          .class-time {
            font-size: 15px;
            font-weight: 500;
            color: var(--col-text-dark-grey);
          }
        }
      }
    }
  }

  &__middle-info {
    grid-column: 2 / 4;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__right-info {
    grid-column: 3 / 4;
    grid-row: 2/3;
    border-left: 0.5px solid var(--col-border-light-grey);

    .student-courses {
      padding: 25px;

      &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      &__list {
        list-style: none;
        &__item {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-bottom: 20px;

          .course-color {
            height: 25px;
            width: 25px;
            border-radius: 50%;
          }

          .course-details {
            padding: 0 5px;
            flex: 60%;
            &__code {
              font-size: 12px;
              color: var(--col-text-light-grey);
            }

            &__name {
              color: var(--col-text-dark-grey);
            }
          }
        }
      }
    }
  }
}

@keyframes slideUpFromDown {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.Cell-highlightedText-24 {
  color: var(--col-primary-dark-purple) !important;
}

.Cell-highlightedText-31 {
  color: var(--col-primary-dark-purple) !important;
}

.VerticalAppointment-imageContainer-158 {
  display: none;
}

.VerticalAppointment-time-150 {
  font-size: 12px;
}

.VerticalAppointment-imageContainer-165 {
  display: none;
}
.add-slot-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  opacity: 20%;

  transition: all 0.2s;

  &:hover {
    opacity: 100%;
  }
}
