.add-slot-page {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1.5fr;

  &__picture-section {
    grid-column: 1 / 2;
    background-color: var(--col-primary-transparent-purple);

    padding: 50px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      margin-bottom: 100px;

      .plannr-name {
        height: 30px;
      }

      .plannr-tag {
        color: var(--col-primary-purple);
        opacity: 50%;
        width: 370px;
        margin-top: 10px;
      }
    }

    &__image {
      height: 300px;
    }
  }

  &__form-section {
    grid-column: 2 / 3;
    padding: 50px;
    width: 600px;

    &__title {
      margin-bottom: 40px;
    }
  }
}
